{{- $headless := promptBoolOnce . "headless" "Is this machine headless" -}}
{{- $is_work := promptBoolOnce . "is_work" "Is this a work workstation" -}}

[data]
    headless = {{ $headless }}
    is_work = {{ $is_work }}
