prepend_path () {
    if ! grep $1 <<<"$PATH" >/dev/null
    then
    	export PATH=$1:$PATH
    fi
}

{{- if .is_work }}
export FUCHSIA_DIR=~/fx
prepend_path ~/fx/.jiri_root/bin
source ~/fx/scripts/fx-env.sh
{{ end }}

{{- if eq .chezmoi.hostname "gongt-glaptop2" }}
prepend_path /usr/lib/google-golang/bin
prepend_path /home/gongt/.fuchsia/foxtrot
prepend_path /home/gongt/depot_tools
prepend_path /home/gongt/fuchsia-sdk/tools/x64:$PATH
{{ end }}

{{- if .is_corp }}
source ~/.config/zsh/work.sh
{{ end }}

prepend_path ~/.cargo/bin
prepend_path ~/go/bin

prepend_path ~/.node_modules/bin
export npm_config_prefix=$HOME/.node_modules

prepend_path ~/.local/bin

export EDITOR=kak
export PAGER='less -FQ'
